.brand {
  color: #e31837 !important;
  font-weight: 800;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.search-input {
  padding: 10px;
  width: 50%;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.search-btn {
  padding: 10px;
  background: #e31837;
  color: white;
  border: #e31837 2px solid;
  margin: 0 1%;
}
